

/* RESEST CSS */
h1{
    margin: 0;
    padding: 0;

}
img{
width:300px ;
}
/*REGRAS CSS BOXMODEL*/
article{
    padding: 10px;
    background-color: #dedede;
    width: max-content;
    border: 5px solid #b8b8b8;
    display: inline-block;
    margin-right: 10px;
}

.text{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: left;
line-height: 1.5;
width: 300px;
}

.title{
        font-weight: bold;
            padding: 5px;

}

main{
    margin: 0 auto;
    width: max-content;
    padding: 20px;
    background-color: white;
}

body{
    background-color: #999;

}

figure{
    margin:0;
}