
/* RESET CSS */
h1{
    margin: 0px;
    padding: 0px;

}

img{
    width: 300px;
}

/* REGRAS CSS DO BOX MODEL */
.card{
    padding: 10px;
    background-color: #DEDEDE;
    width: max-content;
    border: 1px solid #B8B8B8;
    display: inline-block;
    margin-right: 10px;
} 

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    width: 300px;
}

.title{
    font-weight:bold;
    padding: 5px;

}

/* ESTRUTURA DE CENTRALIZAÇÃO */
.conteiner{
    margin: 0 auto;
    width: max-content;
    padding: 20px;
    background-color: #FFF;
}

body{
    background-color: #999;
}